@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  display: flex;
  justify-content: center;
  line-height: 32px;
  letter-spacing: -0.003em;
  color: #242424;
  font-size: 20px;
  /* background-image: url("../public/images/bg-network.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto; */
}

.leaflet-marker-icon {
  width: 26px !important;
}
